@import '~bootstrap/scss/bootstrap';
html {
background-image: url('assets/styles/background.jpg');
}
body {
  background-size: cover;
  background-position: center;
  font-family: 'Sigmar One', cursive;
  color: #ff4e4e;
  text-align: center;
  min-height: 1vh;

  > header {
    font-size: 6vw;
    height: 2vh;
    text-align: center;
  }
}
#message {
  position: fixed;
  text-align: center;
}

input:hover {
  background-color: rgba(#f90000,.29);
}

.btn-primary {
  background-color: #ff0003;
  border-color: #ff0003;
}

.btn-primary:hover {
  background-color: rgba(#ff0003,.5);
  border-color: rgba(#ff0003,.5);
}

.failure {
  color: red;
}

.success {
  color: green;
}

.gamearea {
  margin: auto;
  max-height: calc(60vh - 75px);
  max-width: calc(60vh - 75px);
  }

.gameboard {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  position: fixed;

  > .gamebox {
    align-items: center;
    background-color: rgba(#fa0000,.35);
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    color: white;
    display: flex;
    font-size: 3vh;
    justify-content: center;
    text-shadow: 2px 2px rgba(0, 0, 0, .25);

    &:nth-child(3n) {
      border-right: 0;
    }

    &:nth-last-child(-1n + 3) {
      border-bottom: 0;
    }
  }

  .gamebox:hover {
    background-color: #b35c99;
  }
}

.stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  min-height: 8vh;
  background-color: rgba(33, 33, 33, .3);
}

.container {
  justify-content: center;
  margin:auto;
}
