@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('assets/styles/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  font-family: 'Sigmar One', cursive;
  color: #ff4e4e;
  text-align: -webkit-center;

  > header {
    font-size: 6vw;
    height: 2vh;

  }
}


input:hover {
  background-color: rgba(#f90000,.29);
}

.btn-primary {
  background-color: #ff0003;
  border-color: #ff0003;
}

.btn-primary:hover {
  background-color: rgba(#ff0003,.5);
  border-color: rgba(#ff0003,.5);
}

.failure {
  color: red;
}

.success {
  color: green;
}


.grid-item:hover {
  background-color: #b35c99;
}
.grid-container {
  display: grid;
  grid-template: 150px 150px 150px / 150px 150px 150px;
  justify-content: center;
}
.grid-item {
  border: 3px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats {
  display: grid;
  margin: auto;
  min-height: 8vh;
  position: fixed;
  justify-content: center;
}
